<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.petSmile.Controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <display-name>PetSmile</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DashboardController</display-name>
    <servlet-name>DashboardController</servlet-name>
    <servlet-class>com.petSmile.Controller.DashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardController</servlet-name>
    <url-pattern>/DashboardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerController</display-name>
    <servlet-name>OwnerController</servlet-name>
    <servlet-class>com.petSmile.Controller.OwnerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerController</servlet-name>
    <url-pattern>/OwnerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MascotaController</display-name>
    <servlet-name>MascotaController</servlet-name>
    <servlet-class>com.petSmile.Controller.MascotaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MascotaController</servlet-name>
    <url-pattern>/MascotaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgendaController</display-name>
    <servlet-name>AgendaController</servlet-name>
    <servlet-class>com.petSmile.Controller.AgendaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgendaController</servlet-name>
    <url-pattern>/AgendaController</url-pattern>
  </servlet-mapping>
</web-app>